*{ box-sizing:border-box }
body{
  margin:0;
  min-height:100vh;
  background: linear-gradient(135deg,#ff1500,#f80101);
}

header nav a{
  position: fixed;
  top: 12px;
  left: 60px;          
  color:#fff;
  text-decoration:none;
  font-weight:600;
  z-index:1001;
}
header nav a:hover{ text-decoration:underline }

main{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}


.registro{
  background:#fff;
  padding:30px 25px;
  border-radius:15px;
  width:360px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,.2);
}
.titulo{
  font-size:26px;
  margin-bottom:10px;
  color:#ff6f61;
}
.formulario-registro h2{
  font-size:20px;
  margin:0 0 20px;
  color:#333;
}

.grupo-input{ text-align:left; margin-bottom:15px; }
.grupo-input label{
  display:block; margin-bottom:5px; font-size:14px; color:#444;
}
.grupo-input input{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:14px;
  transition:border-color .2s;
}
.grupo-input input:focus{ border-color:#ff6f61; outline:none }



.btn{
  width:100%;
  padding:12px;
  background:#ff6f61;
  border:none;
  border-radius:8px;
  color:#fff;
  font-size:16px;
  cursor:pointer;
  transition: background .3s;
  margin-top:10px;
}
.btn:hover{ background:#e14e4e }

.iniciar{ margin-top:15px; font-size:14px; }
.iniciar a{ color:#ff6f61; text-decoration:none; font-weight:bold; }
.iniciar a:hover{ text-decoration:underline }
